{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "semi": true,
  "useTabs": false,
  "ignorePath": ".prettierignore",
  "endOfLine": "crlf",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    }
  ]
}
